.content_log {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    padding: 0 0 100px 0;
  }
  
  .content_log a {
    text-decoration: none;
    color: #000000;
    transition: 1s;
  }
  
  .content_log a:hover {
    color: #666666;
    font-weight: bold;
    transition: 1s;
  }
  
  .log_box {
    margin: 20px 20px 20px 20px;
    width: 99%;
    min-height: 300px;
    background-color: #d7edf0;
    transition: 1s;
  }
  
  .log_header {
    width: 100%;
    height: 50px;
    background-color: #002f34;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
  }
  
  .log_content_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  
  .log_content_header_text,
  .log_content_text {
    width: 100%;
  }
  
  .log_content {
    min-height: 300px;
  }
  
  .log_content_item {
    width: 100%;
    display: flex;
  }
  
  .log_content_text {
    width: 100%;
  }
  
  .log_hr {
    border-top: 1px dashed black;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }